/* 这里是大图片分割成小图片的样式 */
/* 花 */
.deity-flower-1{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 27rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-2{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 35.5rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-3{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 44rem;
    z-index:1;
    margin-left: 1.9rem
}
/* .deity-flower-4{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 51rem;
    z-index:1;
    margin-left: 1.9rem
} */
.deity-flower-5{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 52.2rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-6{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 61.2rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-7{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 69.85rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-8{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 77.6rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-9{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 86.1rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-10{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 94.6rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-11{
     position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 103.1rem;
    z-index:1;
    margin-left: 1.9rem
}
/*分割线********************************************************* */

.deity-flower1{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 27.1rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower2{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 34.95rem;
    z-index:2;
    margin-left: 1.9rem
}
.deity-flower3{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:  43.2rem;
    z-index:1;
    margin-left: 1.9rem
}
/* .deity-flower4{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 54.5rem;
    z-index:1;
    margin-left: 1.9rem
} */
.deity-flower5{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:52.7rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower6{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:62.2rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower7{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:71.7rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower8{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:80.7rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower9{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:91.7rem;
    z-index:1;
    margin-left:1.9rem
}
.deity-flower10{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 101.95rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower11{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:109.7rem;
    z-index:1;
    margin-left: 1.9rem
}
/*分割线********************************************************* */

.deity-flower---1{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:27.25rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---2{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:35rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---3{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:42rem;
    z-index:1;
    margin-left: 1.9rem
}

.deity-flower---5{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:49.43rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---6{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:57.68rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---7{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:67.18rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---8{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:77.43rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---9{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:86.18rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---10{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:93.43rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---11{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:100.93rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---12{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:108.73rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---13{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:116.73rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower---14{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:125.93rem;
    z-index:1;
    margin-left: 1.9rem
}

/*分割线********************************************************* */
.deity-flower----1{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:26.5rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----2{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 33.5rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----3{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 41.7rem;
    z-index:1;
    margin-left: 1.9rem
}

.deity-flower----5{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:49.85rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----6{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:58.35rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----7{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:66.6rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----8{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:75.1rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----9{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:83.2rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----10{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:90.05rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower----11{
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:97.3rem;
    z-index:1;
    margin-left: 1.9rem
}
/*分割线********************************************************* */

.deity-flower-----1{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:28rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----2{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:38rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----3{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top: 47rem;
    z-index:1;
    margin-left: 1.9rem
}
/* .deity-flower-----4{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:28rem;
    z-index:1;
    margin-left: 1.9rem
} */
.deity-flower-----5{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:55.5rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----6{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:63.5rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----7{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:72rem;          
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----8{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:81rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----9{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:89.25rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----10{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:97.5rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----11{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:105rem;
    z-index:1;
    margin-left: 1.9rem
}
.deity-flower-----12{  
    position: absolute;
    width: 3.7rem;
    height: 4.8rem;
    margin-top:111.6rem;
    z-index:1;
    margin-left: 1.9rem
}

/* 图片********************************************************* */ 

.one-1{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 25.4rem;
    z-index:1;
}
.one-2{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 33.4rem;
    z-index:1;
}
.one-3{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 42.4rem;
    z-index:1;
}
/* .one-4{
    position: absolute;
    width: 7.5rem;
    height: 6rem;
    margin-top: 50.4rem;
    z-index:1;
} */
.one-5{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 50.5rem;
    z-index:1;
}
.one-6{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 59.5rem;
    z-index:1;
}
.one-7{
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 68.5rem;
    z-index:1;
}
.one-8{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 76rem;
    z-index:1;
}
.one-9{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 84rem;
    z-index:1;
}
.one-10{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 93rem;
    z-index:1;
}
.one-11{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 101rem;
    z-index:1;
}


/*分割线********************************************************* */

.two-1{
    position: absolute;
    width: 7.5rem;
    height: 8.2rem;
    margin-top: 25.4rem;
    z-index:1;
}
.two-2{
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 33.6rem;
    z-index:1;
}
.two-3{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 41.1rem;
    z-index:1;
}

.two-5{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top:50.1rem;
    z-index:1;
}
.two-6{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 60.1rem;
    z-index:1;
}
.two-7{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 69.1rem;
    z-index:1;
}
.two-8{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 79.1rem;
    z-index:1;
}
.two-9{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 87.1rem;
    z-index:1;
}
.two-10{
    position: absolute;
    width: 7.5rem;
    height: 10.5rem;
    margin-top: 97.1rem;
    z-index:1;
}
.two-11{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 107.6rem;
    z-index:1;
}
/*分割线********************************************************* */


.there-1{
    position: absolute;
    width: 7.5rem;
    height: 8.5rem;
    margin-top: 25.4rem;
    z-index:1;
}
.there-2{
    position: absolute;
    width: 7.5rem;
    height: 7rem;
    margin-top: 33.9rem;
    z-index:1;
}
.there-3{
    position: absolute;
    width: 7.5rem;
    height: 7rem;
    margin-top: 40.9rem;
    z-index:1;
}
.there-5{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 47.83rem;
    z-index:1;
}
.there-6{
    position: absolute;
    width: 7.5rem;
    height: 8.5rem;
    margin-top: 55.83rem;
    z-index:1;
}
.there-7{
    position: absolute;
    width: 7.5rem;
    height: 10.5rem;
    margin-top: 64.33rem;
    z-index:1;
}
.there-8{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 74.83rem;
    z-index:1;
}
.there-9{
    position: absolute;
    width: 7.5rem;
    height: 7.5rem;
    margin-top: 84.83rem;
    z-index:1;
}
.there-10{
    position: absolute;
    width: 7.5rem;
    height: 7rem;
    margin-top: 92.33rem;
    z-index:1;
}
.there-11{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 99.33rem;
    z-index:1;
}
.there-12{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 107.33rem;
    z-index:1;
}
.there-13{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 115.33rem;
    z-index:1;
}
.there-14{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 123.33rem;
    z-index:1;
}
/*分割线********************************************************* */
.four-1{
    position: absolute;
    width: 7.5rem; 
    height: 7rem;
    margin-top: 25.4rem;
    z-index:1;
}
.four-2{
    position: absolute;
    width: 7.5rem;
    height: 7rem;
    margin-top: 32.4rem;
    z-index:1;
}
.four-3{
    position: absolute;
    width: 7.5rem;
    height: 7.8rem;
    margin-top: 40.2rem;
    z-index:1;
}
.four-5{
    position: absolute;
    width: 7.5rem;
    height: 8.5rem;
    margin-top: 48rem;
    z-index:1;
}
.four-6{
    position: absolute;
    width: 7.5rem;
    height: 8.5rem;
    margin-top: 56.5rem;
    z-index:1;
}
.four-7{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 65rem;
    z-index:1;
}
.four-8{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 73rem; 
    z-index:1;
}
.four-9{
    position: absolute;
    width: 7.5rem;
    height: 7.2rem;
    margin-top: 82rem;
    z-index:1;
}
.four-10{
    position: absolute;
    width: 7.5rem;
    height: 6.5rem;
    margin-top: 89.2rem; 
    z-index:1;
}
.four-11{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 95.7rem; 
    z-index:1;
}
/*分割线********************************************************* */

.five-1{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 25.4rem; 
    z-index:1;
}
.five-2{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 35.4rem;
    z-index:1;
}
.five-3{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 45.4rem; 
    z-index:1;
}
/* .five-4{
    position: absolute;
    width: 7.5rem;
    height: 6.5rem;
    margin-top: 53.4rem; 
    z-index:1;
} */
.five-5{
    position: absolute;
    width: 7.5rem;
    height: 9rem;
    margin-top: 53.4rem; 
    z-index:1;
}
.five-6{
    position: absolute;
    width: 7.5rem;
    height: 7rem;
    margin-top: 62.4rem; 
    z-index:1;
}
.five-7{
    position: absolute;
    width: 7.5rem;
    height: 10rem;
    margin-top: 69.4rem; 
    z-index:1;
}
.five-8{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 79.4rem; 
    z-index:1;
}
.five-9{
    position: absolute;
    width: 7.5rem;
    height: 8.5rem;
    margin-top: 87.4rem; 
    z-index:1;
}
.five-10{
    position: absolute;
    width: 7.5rem;
    height: 8rem;
    margin-top: 95.9rem; 
    z-index:1;
}
.five-11{
    position: absolute;
    width: 7.5rem;
    height: 7rem;
    margin-top: 103.9rem; 
    z-index:1;
}
.five-12{
    position: absolute;
    width: 7.5rem;
    height: 6.2rem;
    margin-top: 110.9rem; 
    z-index:1;
}